{% extends 'layout.html' %}
{% block content %}
{% import "_macros.html" as macros %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-24">
                <form action="/diccionarioEntra" method="post">
                    <div class="form-row">
                        {{macros.input_form_error(dicc.palEsp,class="form-control")}}
                    </div>
                    <div class="form-row">
                        {{macros.input_form_error(dicc.palIng,class="form-control")}}
                    </div>
                    <input type="submit" name="btn1">
                </form>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-24">
                <form action="/diccionarioBuscar" method="post">
                    <div class="form-row">
                        {{macros.input_form_error(dicc.lengu,class="form-control")}}
                    </div>
                    <div>
                        <div class="form-row">
                            {{macros.input_form_error(dicc.bus,class="form-control")}}
                            <p>Resultado: {{ trad }}</p>
                        </div>
                    </div>
                    <input type="submit" name="btn1">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}